$checkbox-radius: $radius !default;
$checkbox-border: 2px solid $border;
$checkbox-block-background: $white-ter !default;
$checkbox-checked-width: .1rem !default;
$checkradio-focus: 1px dotted $grey-light !default;
$checkradio-top-offset: 0rem !default;

.is-checkradio[type=checkbox] + label::before,
.is-checkradio[type=checkbox] + label:before,
.is-checkradio[type=radio] + label::before,
.is-checkradio[type=radio] + label:before{
  background: $white;
  transition: $speed;
  border-width: $control-border-width;
}

.is-checkradio[type=checkbox] + label::after,
.is-checkradio[type=checkbox] + label:after{
  border-width: $control-border-width * 1.75;
}